body {
    background-color: #ffffff;
}

h5 {
    font-family: Work Sans, sans-serif;
    font-size: 10px;
    font-weight: 400;
    color: black;
    text-align: center;
}

.manga-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cover {
    margin-top: 40px;
    width: 43%;
    height: auto;
}

.page {
    width: 60%;
    height: auto;
}

@media only screen and (max-width: 767px) {
    h5 {
        font-size: 8px;
        font-weight: 400;
    }

    .cover {
        width: 73%;
    }

    .page {
        width: 100%;
    }
}