@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100..900&display=swap");

@font-face {
  font-family: Bemirs;
  src: url("./assets/font/BemirsDemoVersionRegular-X361d.otf");
}

:root {
  --background-dark: #02050a;
  --primary-dark: #003282;
  --primary-light: #1b76ff;
  --white: #ffffff;
  --icon-dark: #bac5e3;
  --text-dark: #f3f3f3;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans", -apple-system, "Segoe UI", "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

.title {
  font-family: Bemirs, "Noto Sans", "Helvetica", sans-serif;
  font-size: 120px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

h1,
.h1 {
  font-family: "Noto Sans", "Helvetica", sans-serif;
  font-size: 40px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

h2,
.h2 {
  font-family: "Noto Sans", "Helvetica", sans-serif;
  font-size: 20px;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

h3,
.h3 {
  font-family: "Noto Sans", "Helvetica", sans-serif;
  font-size: 18px;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

h4,
.h4 {
  font-family: "Noto Sans", "Helvetica", sans-serif;
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

p {
  font-family: "Noto Sans", "Helvetica", sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 3%;
  margin: 0;
  padding: 0;
}

small {
  font-family: "Noto Sans", "Helvetica", sans-serif;
  font-size: 14px;
  letter-spacing: 15%;
  margin: 0;
  padding: 0;
}

.light-theme{
  --primary-color: #1b76ff;
  --secondary-color:

}
